* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.barranav {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px black solid;
    position: fixed;
    background-color: black;
    box-shadow: 2px 2px 10px 2px #e75be3;
    z-index: 5;
}


.tarjeta {
    margin-left: 5%;
    margin-right: 5%;
}

.seccion1 {
    margin-top: 2vh;
}

.seccion2 {
    background-color: #38ff3c;
    color: white;
    width: 3%;
    height: 60%;
    border-radius: 20%;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 2vh;
}

.seccion2 a:link {
    text-decoration: none;
    color: white;
}

.seccion2 a:visited {
    text-decoration: none;
    color: white;
}

.seccion3 {
    background-color: #26ecec;
    color: white;
    width: 3%;
    height: 60%;
    border-radius: 20%;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 2vh;
}

.seccion3 a:link {
    text-decoration: none;
    color: white;
}

.seccion3 a:visited {
    text-decoration: none;
    color: white;
}

.seccion4 {
    background-color: #8d45eb;
    color: white;
    width: 3%;
    height: 60%;
    border-radius: 20%;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 2vh;
}

.seccion4 a:link {
    text-decoration: none;
    color: white;
}

.seccion4 a:visited {
    text-decoration: none;
    color: white;
}

.seccion5 {
    background-color: #d73082;
    color: white;
    width: 3%;
    height: 60%;
    border-radius: 20%;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 2vh;
}

.seccion5 a:link {
    text-decoration: none;
    color: white;
}

.seccion5 a:visited {
    text-decoration: none;
    color: white;
}

.tarjeta {
    padding-top: 10vh;
}

.fa {
    color: white !important;
}

.presentacion {
    padding-top: 5vh;
}

.michis-titulo {
    display: flex;
    justify-content: start;
    width: 25%;
    color: black;
    height: 3.5vh;
    background-color: #38ff3c;
}


.formulario-titulo {
    display: flex;
    justify-content: start;
    width: 25%;
    color: black;
    height: 3.5vh;
    background-color: #26ecec;
}


.documentacion-titulo {
    display: flex;
    justify-content: start;
    width: 25%;
    color: black;
    height: 3.5vh;
    background-color: #d73082;
}


.producto-titulo {
    display: flex;
    justify-content: start;
    width: 25%;
    color: black;
    height: 3.5vh;
    background-color: #8d45eb;
}

.Portafolio-titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    height: 7vh;
    background-image: linear-gradient(35deg, #f28f37, #d9ff06, #38ff3c, #26ecec, #8d45eb, #e75be3, #e049a5, #d73082);
}

.titulo-proyectos {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    height: 7vh;
    background-image: linear-gradient(35deg, #f28f37, #d9ff06, #38ff3c, #26ecec, #8d45eb, #e75be3, #e049a5, #d73082);
}

.proyecto1 {
    margin-top: 5vh;
    position: relative;
    background-color: white;
}

.proyecto1::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-image: linear-gradient(35deg, #f28f37, #d9ff06, #38ff3c, #26ecec, #8d45eb, #e75be3, #e049a5, #d73082);
    filter: blur(10px);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.proyecto2 {
    margin-top: 5vh;
    position: relative;
    background-color: white;
}

.proyecto2::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-image: linear-gradient(35deg, #f28f37, #d9ff06, #38ff3c, #26ecec, #8d45eb, #e75be3, #e049a5, #d73082);
    filter: blur(10px);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.proyecto3 {
    margin-top: 5vh;
    position: relative;
    background-color: white;
}

.proyecto3::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-image: linear-gradient(35deg, #f28f37, #d9ff06, #38ff3c, #26ecec, #8d45eb, #e75be3, #e049a5, #d73082);
    filter: blur(10px);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.proyecto4 {
    margin-top: 5vh;
    position: relative;
    background-color: white;
}

.proyecto4::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-image: linear-gradient(35deg, #f28f37, #d9ff06, #38ff3c, #26ecec, #8d45eb, #e75be3, #e049a5, #d73082);
    filter: blur(10px);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.logos {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.logocodepen,
.logogithub {
    margin-left: 20px;
    margin-right: 20px;
}

.cuenta {
    display: flex;
    margin-top: 20px;
}


.proyecto1 a:link,
.proyecto2 a:link,
.proyecto3 a:link,
.proyecto4 a:link {
    text-decoration: none;
    color: black;
}

.proyecto1 a:visited,
.proyecto2 a:visited,
.proyecto3 a:visited,
.proyecto4 a:visited {
    text-decoration: none;
    color: black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 800px) {
    .seccion2,
    .seccion3,
    .seccion4,
    .seccion5 {
        width: 40px;
    }

    .michis-titulo,
    .formulario-titulo,
    .producto-titulo,
    .documentacion-titulo {
        width: 100%;
    }
}